.fa-fish {
  font-size: 1.5rem;
  margin-right: -.5rem;
}

#jumbotron {
  background-color: salmon;
  padding: 1rem;
  margin-bottom: 1rem;
}

#game-title {
  font-size: 2rem;
  margin-top: 1rem;
}

#giphy-logo {
  max-width: 8rem;
}

.btn {
  margin: .1rem;
  font-size: .8rem;
}

input {
  margin: .5rem;
}

#top-of-gifs {
  margin-bottom: -.5rem;
}

#play-pause-text {
  font-size: .8rem;
  margin-bottom: .5rem;
}

#gifs-container {
  margin: auto;
}

.card {
  max-width: 12rem;
  margin: auto .5rem;
  border: 0;
  display: inline-block !important;
}

.card-body {
  padding: 0;
  text-align: right;
}


@media only screen and (min-width: 47rem) {
  .fa-fish {
    font-size: 1.8rem;
    margin-right: 0;
  }

}

@media screen and (min-width: 80rem) {
  .fa-fish {
    font-size: 2.3rem;
    margin-right: .5rem;
  }

}
