.fa-fish {
  font-size: 1.5rem;
  margin-right: -.5rem;
}

#jumbotron {
  background-color: salmon;
  padding: 1rem;
  margin-bottom: 1rem;
}

#game-title {
  font-size: 2rem;
  margin-top: 1rem;
}

#giphy-logo {
  max-width: 8rem;
}

.btn {
  margin: .1rem;
  font-size: .8rem;
}

input {
  margin: .5rem;
}

#top-of-gifs {
  margin-bottom: -.5rem;
}

.gif {
  margin: .2rem;
}
